/* reset pre config */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ----------------------------- page container ----------------------------- */
/* change background color */
html {
  background: lemonchiffon;
}
/* make content stay in center width some space on left and right */
body {
  padding-inline: 10vw;
}

/* --------------------------- Movies name& poster -------------------------- */
/* Movie name: add text color, stay in center and bigger font size */
h1 {
  color: crimson;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}
/* Movie poster: make it full screen */
.poster-image {
  width: 100vw;
  height: auto;
  translate: -10vw;
}

/* ------------------------- Movie details sections ------------------------- */
/* topics: add space between each section and decorate text */
h2 {
  margin-top: 44px;
  font-style: italic;
}
/* details: add indentation */
p {
  text-indent: 44px;
}

/* ---------------------------- Cast & Crew Table --------------------------- */
/* table: add background color, radius border and shadow */
table {
  width: 100%;

  background-color: coral;
  border-radius: 20px;
  border: 2px dashed black;
  box-shadow: 0 10px 0 black;
}
/* table data: align text in center */
td {
  text-align: center;
}
/* table head: Decorate text */
th {
  color: white;
  font-size: 24px;
  font-weight: 700;
  padding-block: 20px;
}

/* Bonus: Fixed movie name */
h1 {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: lemonchiffon;
  width: 100vw;
}
/* -------------------------- BoNus: animate table -------------------------- */
table {
  width: 100%;
  background-color: coral;
  border-radius: 20px;
  position: relative;
  margin-block: 40px;
}
table:hover {
  box-shadow: -20px 20px 0 orange, -40px 40px 0 red;
  transition: 0.5s;
}
